* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

.input-cont {
  margin: 16px 24px;
}

.input-cont .response {
  display: flex;
  align-items: center;
  gap: 8px;
}